/* General spacing */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Make hero video full length and under the navbar */
#hero-video {
  object-fit: cover;
  position: relative;
  width: 100vw; /* Take full width of the viewport */
  height: 60vh; /* Take 60% of the viewport height */
  /* background-image: ; add fall-back image */
  overflow: hidden;
}

